---
import { sanityClient } from 'sanity:client';

const { menu } = await sanityClient.fetch(
  `*[_type == "settings"][0]{ menu }`
) ?? {};

const path = Astro.url.pathname;
let homeClass = '';
let infoClass = '';

if (path === '/') {
  homeClass = 'current';
}

if (path === '/info') {
  infoClass = 'current';
}

---
<nav class:list={['nav', 'nav-original']}>
  <div class="nav--inner container--margin-normal container--grid">
    <div class="left">
      <a class="link-menu-title" href="/">{menu?.menuTitle}</a>
      <p class="nav__tagline--mob1 mobile">{menu?.tagLineMob1}</p>
      <p class="nav__tagline--mob2 mobile">{menu?.tagLineMob2}</p>
    </div>
    <div class="right container--grid-ninecols">
      <div class="col col-2">
        <a class:list={['hover-wrapper', 'page-link', homeClass]} href="/">
          <span class="visible-text">{menu?.workTitle}</span>
        </a>
        <div class:list={['nav__tagline', 'desktop', 'big-text', 'hover-wrapper', infoClass]}>
          <p class="visible-text">{menu?.tagLine}</p>
          <span class="hover-text c-white">{menu?.tagLineHover}</span>
        </div>
      </div>
      <div class="col col-3">
        <a class:list={['hover-wrapper', 'page-link', infoClass]} href="/info">
          <span class="visible-text">{menu?.infoText}</span>
          <span class="hover-text c-white">{menu?.infoTextHover}</span>
        </a>
      </div>
      <div class="col col-4">
        <a class="hover-wrapper" href="/contact">
          <span class="visible-text">{menu?.contactText}</span>
          <span class="hover-text c-white">{menu?.contactTextHover}</span>
        </a>
      </div>
    </div>
</nav>

<script src="../scripts/navigation.js"></script>
