---
import '../styles/main.scss';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { sanityClient } from 'sanity:client';

interface Props {
  pageTitle: string;
  pageDescription?: string;
}
const { pageTitle, pageDescription } = Astro.props;

const settings = await sanityClient.fetch(
  `*[_type == "settings"][0]{
	"siteTitle": settings.siteTitle,
	"siteDescription": settings.siteDescription,
	"indexing": settings.indexing
  }`
);
const { siteTitle, siteDescription, indexing } = settings ?? {};

const description = pageDescription || siteDescription;





---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {siteTitle}</title>
		{description && <meta name="description" content={description} />}
		<link rel="canonical" href={Astro.url.href} />
		{!indexing && <meta name="robots" content="noindex, nofollow" />}
		<meta property="og:title" content={pageTitle} />
		{description && <meta property="og:description" content={description} />}
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:type" content="website" />
	</head>
	<body class="global">
		<Navigation></Navigation>
		<main>
			<slot />
		</main>
		<Footer></Footer>
	</body>
</html>

